<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- Bean initialization for Address class -->
    <bean id="address" class="com.assignment.Address">
        <property name="street" value="Bank Street"/>
        <property name="city" value="California"/>
        <property name="state" value="CA"/>
        <property name="country" value="United States"/>
        <property name="zip" value="54003"/>
    </bean>
 
 <bean id="cust" class="com.assignment.Customer">
        <property name="cust_id" value="101"/>
        <property name="cust_name" value="Abhi"/>
        <property name="cust-number" value="9641347758"/>
    </bean>
 
</beans>